@charset "UTF-8";

:root {
  --cor1: #7e61cc;
  --cor2: #6268CC;
  --cor3: #c9a54f;
  --cor4: #C462CC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.roboto-thin, .roboto-light, .roboto-regular, .roboto-medium, .roboto-bold, .roboto-black,
.roboto-thin-italic, .roboto-light-italic, .roboto-regular-italic, .roboto-medium-italic, 
.roboto-bold-italic, .roboto-black-italic {
  font-family: "Roboto", sans-serif;
}

.roboto-thin { font-weight: 100; }
.roboto-light { font-weight: 300; }
.roboto-regular { font-weight: 400; }
.roboto-medium { font-weight: 500; }
.roboto-bold { font-weight: 700; }
.roboto-black { font-weight: 900; }

.roboto-thin-italic, .roboto-light-italic, .roboto-regular-italic, .roboto-medium-italic, 
.roboto-bold-italic, .roboto-black-italic { font-style: italic; }


.baloo-2 {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
}
header > h1,
 h3 {
  border: none;
  box-shadow: none;
  outline: none;
}

#headerh1 {
  color: #141414;
  font-family: "baloo 2", Sans-serif;
  font-size: 24px;
  font-weight: 300;
  word-wrap: break-word;
}

header {
  background-color: var(--cor1);
  padding: 10px; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none; 
  box-shadow: none; 
}

header > h1 {
  color: white;
  font-size: 2rem; 
  margin: 0;
}

header > h3 {
  color: 
  font-size: 1.2rem; 
}

#cabeçalho {
  padding: 5px 2px;
}

.sparkle-header {
  background: none;
  position: relative;
  text-align: center;
  background: linear-gradient(45deg, var(--cor2), var(--cor1));
  color: white;
  white-space: normal; 
  word-wrap: break-word; 
  font-size: 4em;
  padding: 0px;
  overflow: hidden; 
}


.sparkle-header::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 10%,
    transparent 20%
  );
  background-size: 10px 10px;
  animation: sparkle-animation 5s linear infinite;
}


@keyframes sparkle-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50px, 50px);
  }
}


.sparkle-header h1 {
  font-size: 30px;
  margin-bottom: 10px;
  border: none;
}

body {
  color: var(--cor1);
  font-family: "Roboto", sans-serif;
  background-color: white;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  padding: 10px;
  padding: 0;
  overflow-x: hidden;
}
.whatsapp-button {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  background-color: #25d366; 
  border-radius: 50%; 
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  z-index: 9999; 
}


.whatsapp-button img {
  width: 30px; 
  height: 30px; 
}
.video-container {
  position: relative;
  width: 100%; 
  max-width: 800px; 
  margin: 0 auto; 
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  border: 5px solid var(--cor4); 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; 
}
picture > img{ 

  max-width: 72%; 
  height: auto;
}
img {
  max-width: 100%;
  height: auto;
}

header,
h1,
h2 {
  max-width: 90%; 
  margin: auto;
}

header,
h1,
h2,
button {
  text-align: center;
  margin: auto;
  max-width: 100%;
}

button {
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  background: linear-gradient(to right, var(--cor1), var(--cor2));
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

body > h2 {
  font-size: 25px;
  font-weight: 900;
  -webkit-text-stroke-width: 0px;
  stroke-width: 0px;
  white-space: normal; 
  word-wrap: break-word;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}

.sparkle-button {
  position: relative;
  background: linear-gradient(45deg, #6a5acd, #8a2be2);
  color: white;
  border: none;
  padding: 10px 50px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "baloo 2";
  font-variant: small-caps;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.sparkle-button:hover {
  box-shadow: 0 0 30px 10px rgba(138, 43, 226, 0.6);
  transform: scale(1.05); 
}

.sparkle-button:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent);
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.sparkle-button:hover:before {
  transform: scale(1);
}

.sparkle-button span {
  position: relative;
  z-index: 1;
}

.sparkle-effects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.sparkle-effects div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  animation: sparkle 2s infinite ease-in-out;
}

@keyframes sparkle {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.5) translateY(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translateY(-20px);
  }
}

.box {
  width: 90%;
  max-width: 300px;
  padding: 10px;
  margin: 20px auto;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px; 
  box-shadow: 0 4px 8px var(--cor3); 
  text-align: center;
  font-family: Arial, sans-serif;
}

.box > p {
  font-size: 1rem;
}

.linhafina {
  position: relative;
}

.linhafina::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%; 
  width: 100%;
  height: 1px; 
  background-color: red; 
}

.color-band {
  position: relative;
  font-family: "roboto";
  top: auto;
  color: white;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: -25px;
  height: 240px; 
  background: linear-gradient(90deg, var(--cor2), var(--cor3), var(--cor2));
  overflow: hidden;
  display: flex;
  
  justify-content: center;
  align-items: center;
  background-size: 300%; 
  animation: gradientFlow 30s infinite; 
}

.text-container {
  position: absolute; 
  top: 20px; 
  left: 35%; 
  transform: translateX(-50%) translateY(-20px); 
  white-space: nowrap;
  z-index: 10; 
  text-align: center; 
}


.text-container p {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  padding: 10px;

}



.carousel-track {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
  animation: carouselMove 20s linear infinite;
  width: calc(100% * 12); 
}


.carousel-track img {
  width: 100%;
  height: 80vh; 
  margin: 0 10px; flex-shrink: 0;
  object-fit: cover; 
  border-radius: 10px; 
  transition: transform 0.3s ease;
}

.carousel-track img:hover {
  transform: scale(1.2); 
}
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  scroll-snap-type: x mandatory;
  margin-bottom: 20px;
  
  transition: transform 10s ease-in-out;
}

.carousel img {
  flex-shrink: 0; width: 100%;
  height: auto;
  max-width: 150px; 
  height: auto; 
  margin: 0 10px; 
  border-radius: 10px; 
  object-fit: contain; 
 transition: none;
}
.carousel img:hover {
  transform: none; 
}


.carousel-text-below {
  text-align: center; 
  margin-top: 10px; 
}


.slider {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}


.slides {
  display: flex;
  width: 100%; 
  height: 100%;
  transition: transform 0.5s ease-in-out; 
}


.slide {
  flex: 0 0 100%; 
}

.slide img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
}


.manual-navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.manual-btn {
  width: 15px;
  height: 15px;
  background-color: var(--cor2);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.manual-btn:hover {
  background-color: gray;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div {
  border: 2px solid var(--cor2);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}



.manual-navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.manual-btn {
  width: 15px;
  height: 15px;
  background-color: var(--cor2);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.manual-btn:hover {
  background-color: gray;
}

.img7dias{

}

.faq-container {
  max-width: 600px;
  margin: auto;
  text-align: left;
 }

h2 {
  color: #ff69b4; 
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

details {
  margin-bottom: 10px;
  border: 2px solid #ff69b4;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease; 
}

summary {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  color: var(--cor1);
}

summary:hover {
  background-color: var(#6267ccb9);
}

details[open] summary {
  background-color: #ffe1ed;
  border-bottom: 1px solid #ff69b4;

}

details > p {
  padding: 10px 15px;
  margin: 0;
  background-color: #ffe1ed;
  color: #141414;
  font-size: 14px;
}

details[open] > p {
  padding: 20px 30px; 
  max-height: 500px; 
}

details > div {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  background-color: #ffe1ed;
  color: #141414;
  font-size: 14px;
  transition: max-height 0.5s ease; 
}

@media (min-width: 768px) {
  .carousel img {
    max-width: 200px; 
  }
}
.pic3 {
  position: relative;
  font-family: "roboto";
  top: auto;
  gap: 20px;
  font-size: 25px;
  color: white;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  min-height: 240px; 
  background: linear-gradient(90deg, var(--cor2), var(--cor3), var(--cor2));
  overflow: hidden;
display: grid;
  justify-content: center;
  align-items: center;
  background-size: 300%; 
  animation: gradientFlow 30s infinite; 
  padding: 38px;
}


.pic3 img {

  width: 100%; 
  max-width: 286px;
  object-fit: contain;
  height: auto; 
  border-radius: 30px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.overlay{
  font-family: "Baloo 2";
 
}
@media (max-width: 768px) {
  .pic3 img {
    width: 90%; 
    max-width: 90%; 
  }
  .color-band img, h1 {
    width: 50%; 
    max-width: 50%; 
  }
  
}


@media (max-width: 480px) {
  .pic3 img {
    width: 100%; 
    max-width: 100%; 
  }
  .color-band img, h1 {
    width: 70%; 
    max-width: 70%; 
  }
}
.faq-container h2 {
  font-size: 30px;
}
.faq-container details {
  margin-bottom: 3px;
  border: 2px solid var(--cor1);
  border-radius: 8px;
  overflow: hidden;
  
}

.faq-container summary {
  text-align: left; 
  padding: 15px 20px; 
  font-size: 19px;
  font-weight: bold;
  background-color: #fff;
  color: var(--cor1);
  border-radius: 5px;
  transition: background-color 1s ease, transform 1s ease; 
}

.faq-container summary:hover {
  background-color: #e6e6e6;
  transform: translateX(4px); 
}

.faq-container details[open] summary {
  background-color: white;
  border: none;
}

.faq-container details > p {
  margin: 0;
  text-align: left;
  font-family: "baloo 2";
  padding: 15px 20px; 
  font-size: 18px;
  font-weight: lighter;
  max-height: 0; 
  opacity: 0; 
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease; 
 border-radius:5px;
 background-color:  #ee5fee;
  color: #fff;
  will-change: max-height, opacity;
}

.faq-container details[open] > p {
  max-height: 500px; 
  opacity: 1; 
  transition-delay: 0.2s; 
}


.sparkle-header::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, transparent 20%);
  background-size: 10px 10px;
  animation: sparkle-animation 4s linear infinite;
}
  .bonus > h2{
      color: black;
    font-size: 18px;
  }
h1,
h2,
h3,
header {
  font-size: 1.2rem; 
}

@media (min-width: 768px) {
  .box {
    padding: 20px; 
  }
}

@media (min-width: 768px) {
  h1,
  h2,
  header {
    font-size: 2rem; 
  }
}

@media (min-width: 768px) {
  .sparkle-button {
    font-size: 1.5rem; 
    padding: 10px 40px;
  }
}

@media (max-width: 768px) {
  h1,
  header {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  button {
    font-size: 1rem;
    padding: 8px;
  }
  .carousel-track img {
    width: 90%;
    margin: 0 auto;
  }

  .box {
    padding: 10px;
  }

  .carousel img {
    width: 90%;
    margin-bottom: 15px
  }

  .sparkle-effects {
    display: none; 
  }

  .text-container p {
    font-size: 1rem;
  }

  @media (max-width: 480px) {
    h1,
    header {
      font-size: 18px;
    }

    h2 {
      font-size: 1rem;
    }

    .carousel img {
      max-width: 110px; 
    }
    .carousel {
      margin-bottom: 10px;
    }
    .carousel-track img {
      width: 100%;
    }

    .text-container p {
      font-size: 0.9rem;
    }

    button {
      font-size: 0.9rem;
    }
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes carouselMove {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  header > h1 {
    font-size: 1.8rem; 
  }

  header > h3 {
    font-size: 1rem; 
  }
}


@media (max-width: 480px) {
  header {
    padding: 8px;
  }

  header > h1 {
    font-size: 1.5rem; 
  }

  header > h3 {
    font-size: 0.9rem; 
  }
}

@keyframes sparkle-animation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 10px); 
  }
  50% {
    transform: translate(20px, 20px); 
  }
  75% {
    transform: translate(30px, 30px); 
  }
  100% {
    transform: translate(50px, 50px); 
  }
}
