@charset "UTF-8";

:root {
  --cor1: #7e61cc;
  --cor2: #6268CC;
  --cor3: #c9a54f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Roboto Font Variants */
.roboto-thin, .roboto-light, .roboto-regular, .roboto-medium, .roboto-bold, .roboto-black,
.roboto-thin-italic, .roboto-light-italic, .roboto-regular-italic, .roboto-medium-italic, 
.roboto-bold-italic, .roboto-black-italic {
  font-family: "Roboto", sans-serif;
}

.roboto-thin { font-weight: 100; }
.roboto-light { font-weight: 300; }
.roboto-regular { font-weight: 400; }
.roboto-medium { font-weight: 500; }
.roboto-bold { font-weight: 700; }
.roboto-black { font-weight: 900; }

.roboto-thin-italic, .roboto-light-italic, .roboto-regular-italic, .roboto-medium-italic, 
.roboto-bold-italic, .roboto-black-italic { font-style: italic; }

/* Baloo 2 Font */
.baloo-2 {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
}
header > h1,
 h3 {
  border: none;
  box-shadow: none;
  outline: none;
}

#headerh1 {
  color: #141414;
  font-family: "Roboto", Sans-serif;
  font-size: 23px;
  font-weight: 500;
}

header {
  background-color: var(--cor1);
  padding: 10px; /* Ajuste a altura do header diminuindo o padding */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none; /* Remove qualquer borda que possa estar aparecendo */
  box-shadow: none; /* Remove a sombra */
}

header > h1 {
  color: white;
  font-size: 2rem; /* Tamanho da fonte para telas maiores */
  margin: 0;
}

header > h3 {
  color: 
  font-size: 1.2rem; /* Tamanho da fonte para telas maiores */
}

#cabeçalho {
  padding: 5px 2px;
}

.sparkle-header {
  background: none;
  position: relative;
  text-align: center;
  background: linear-gradient(45deg, var(--cor2), var(--cor1));
  color: white;
  white-space: normal; /* Permite que o texto quebre, mas somente uma vez */
  word-wrap: break-word; /* Faz o texto quebrar quando necessário */
  font-size: 4em;
  padding: 0px;
  overflow: hidden; /* Para garantir que partículas fiquem limitadas */
}

/* Brilho no fundo */
.sparkle-header::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 10%,
    transparent 20%
  );
  background-size: 10px 10px;
  animation: sparkle-animation 5s linear infinite;
}

/* Animação de movimento */
@keyframes sparkle-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50px, 50px);
  }
}

/* Estilização do texto */
.sparkle-header h1 {
  font-size: 30px;
  margin-bottom: 10px;
  border: none;
}

body {
  color: var(--cor1);
  font-family: "Roboto", sans-serif;
  background-color: white;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  padding: 10px;
  padding: 0;
  overflow-x: hidden;
}
.whatsapp-button {
  position: fixed;
  bottom: 20px; /* Distância do fundo da tela */
  right: 20px; /* Distância da direita da tela */
  background-color: #25d366; /* Cor de fundo do WhatsApp */
  border-radius: 50%; /* Forma redonda */
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombras */
  z-index: 9999; /* Para garantir que o botão fique em cima de outros elementos */
}

/* Estilo do ícone do WhatsApp */
.whatsapp-button img {
  width: 30px; /* Tamanho do ícone */
  height: 30px; /* Tamanho do ícone */
}
picture > img{ 

  max-width: 72%; /* A imagem vai ocupar no máximo 100% da largura do contêiner */
  height: auto;
}
img {
  max-width: 100%;
  height: auto;
}

header,
h1,
h2 {
  max-width: 90%; /* Garante alinhamento em telas pequenas */
  margin: auto;
}

header,
h1,
h2,
button {
  text-align: center;
  margin: auto;
  max-width: 100%;
}

button {
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  background: linear-gradient(to right, var(--cor1), var(--cor2));
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

body > h2 {
  font-size: 25px;
  font-weight: 900;
  -webkit-text-stroke-width: 0px;
  stroke-width: 0px;
  white-space: normal; /* Permite que o texto quebre, mas somente uma vez */
  word-wrap: break-word;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}

.sparkle-button {
  position: relative;
  background: linear-gradient(45deg, #6a5acd, #8a2be2);
  color: white;
  border: none;
  padding: 10px 50px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "baloo 2";
  font-variant: small-caps;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.sparkle-button:hover {
  box-shadow: 0 0 30px 10px rgba(138, 43, 226, 0.6);
  transform: scale(1.05); /* Leve aumento do tamanho */
}

.sparkle-button:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent);
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.sparkle-button:hover:before {
  transform: scale(1);
}

.sparkle-button span {
  position: relative;
  z-index: 1;
}

.sparkle-effects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.sparkle-effects div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  animation: sparkle 2s infinite ease-in-out;
}

@keyframes sparkle {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.5) translateY(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translateY(-20px);
  }
}

.box {
  width: 90%;
  max-width: 300px;
  padding: 10px;
  margin: 20px auto;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px var(--cor3); /* Sombra suave */
  text-align: center;
  font-family: Arial, sans-serif;
}

.box > p {
  font-size: 1rem;
}

.linhafina {
  position: relative;
}

.linhafina::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%; /* Ajusta a posição vertical da linha */
  width: 100%;
  height: 1px; /* Define a espessura da linha */
  background-color: red; /* Cor da linha */
}

.color-band {
  position: relative;
  font-family: "roboto";
  top: auto;
  color: white;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: -25px;
  height: 200px; /* Altura da faixa */
  background: linear-gradient(90deg, var(--cor2), var(--cor3), var(--cor2));
  overflow: hidden;
  display: flex;
  
  justify-content: center;
  align-items: center;
  background-size: 300%; /* Tamanho maior para suavidade */
  animation: gradientFlow 30s infinite; /* Animação contínua */
}

.text-container {
  position: absolute; /* Permite posicionar o texto dentro da faixa */
  top: 20px; /* Distância do topo da faixa */
  left: 35%; /* Centraliza horizontalmente */
  transform: translateX(-50%) translateY(-20px); /* Ajuste de centralização horizontal e deslocamento para cima */
  white-space: nowrap;
  z-index: 10; /* Garante que o texto fique acima do carrossel */
  text-align: center; /* Centraliza o texto internamente */
}

/* Estilização do texto */
.text-container p {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  padding: 10px;

}

/* Contêiner do carrossel */
.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
/* Faixa de imagens em rotação */
.carousel-track {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
  animation: carouselMove 30s linear infinite;
  width: calc(100% * 12); /* 6 imagens + 6 duplicadas para loop */
}

/* Estilização das imagens */
.carousel-track img {
  width: 100%;
  height: 80vh; /* Ocupa toda a altura da faixa */
  margin: 0 10px; /* Espaçamento entre as imagens */flex-shrink: 0;
  object-fit: cover; /* Ajusta o enquadramento da imagem */
  border-radius: 10px; /* Opcional: arredonda as bordas das imagens */
  transition: transform 0.3s ease;
}

.carousel-track img:hover {
  transform: scale(1.2); /* Aumenta ligeiramente a imagem */
}

/* Configuração básica do slider */
.slider {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}

/* Área dos slides */
.slides {
  display: flex;
  width: 100%; /* 4 slides, cada um com 100% */
  height: 100%;
  transition: transform 0.5s ease-in-out; /* Efeito suave ao trocar */
}

/* Cada slide ocupa 100% do container */
.slide {
  flex: 0 0 100%; /* Cada slide tem largura de 100% */
}

.slide img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
}

/* Botões de navegação manual */
.manual-navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.manual-btn {
  width: 15px;
  height: 15px;
  background-color: var(--cor2);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.manual-btn:hover {
  background-color: gray;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div {
  border: 2px solid var(--cor2);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

/* Controle dos slides usando os inputs */
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  scroll-snap-type: x mandatory;
  margin-bottom: 20px;
}

.carousel img {
  flex-shrink: 0; /* Evita que as imagens encolham */width: 80%;
  height: auto;
  max-width: 150px; /* Limita a largura máxima das imagens */
  height: auto; /* Mantém a proporção da imagem */
  margin: 0 10px; /* Espaçamento entre as imagens */
  border-radius: 10px; /* Opcional: arredonda as bordas */
  object-fit: cover; /* Ajusta o enquadramento */
  transition: transform 0.3s ease-in-out;
}

.carousel-text-below {
  text-align: center; /* Alinha o texto no centro */
  margin-top: 10px; /* Ajuste para separar do carrossel */
}

.manual-navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.manual-btn {
  width: 15px;
  height: 15px;
  background-color: var(--cor2);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.manual-btn:hover {
  background-color: gray;
}

.img7dias{

}

.faq-container {
  max-width: 600px;
  margin: auto;
  text-align: left;
 }

h2 {
  color: #ff69b4; /* Cor rosa para o título */
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

details {
  margin-bottom: 10px;
  border: 2px solid #ff69b4;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease; /* Adiciona suavidade ao elemento */
}

summary {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  color: var(--cor1);
}

summary:hover {
  background-color: var(#6267ccb9);
}

details[open] summary {
  background-color: #ffe1ed;
  border-bottom: 1px solid #ff69b4;

}

details > p {
  padding: 10px 15px;
  margin: 0;
  background-color: #ffe1ed;
  color: #141414;
  font-size: 14px;
}

details[open] > p {
  padding: 20px 30px; /* Adicione o padding quando aberto */
  max-height: 500px; /* Ajuste esse valor para algo grande o suficiente */
}

details > div {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  background-color: #ffe1ed;
  color: #141414;
  font-size: 14px;
  transition: max-height 0.5s ease; /* Suaviza a expansão */
}

@media (min-width: 768px) {
  .carousel img {
    max-width: 200px; /* Tamanho maior em tablets */
  }
}
.pic3 {
  position: relative;
  font-family: "roboto";
  top: auto;
  gap: 20px;
  font-size: 25px;
  color: white;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  min-height: 240px; /* Altura da faixa */
  background: linear-gradient(90deg, var(--cor2), var(--cor3), var(--cor2));
  overflow: hidden;
display: grid;
  justify-content: center;
  align-items: center;
  background-size: 300%; /* Tamanho maior para suavidade */
  animation: gradientFlow 30s infinite; /* Animação contínua */
  padding: 38px;
}


.pic3 img {

  width: 100%; /* Ajusta a largura das imagens para que se adaptem ao contêiner */
  max-width: 286px;
  object-fit: contain;
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 30px; /* (Opcional) Deixa os cantos das imagens arredondados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* (Opcional) Adiciona uma sombra leve */
}
.overlay{
  font-family: "Baloo 2";
 
}
@media (max-width: 768px) {
  .pic3 img {
    width: 90%; /* Ajusta a largura para 90% do container */
    max-width: 90%; /* Limita a largura máxima */
  }
  .color-band img, h1 {
    width: 50%; /* Ajusta para telas menores */
    max-width: 50%; /* Limita a largura máxima */
  }
  
}

/* Para telas menores que 480px */
@media (max-width: 480px) {
  .pic3 img {
    width: 100%; /* Ajusta para ocupar 100% da largura disponível */
    max-width: 100%; /* Limita a largura máxima */
  }
  .color-band img, h1 {
    width: 70%; /* Ajusta para telas muito pequenas */
    max-width: 70%; /* Limita a largura máxima */
  }
}
.faq-container h2 {
  font-size: 30px;
}
.faq-container details {
  margin-bottom: 3px;
  border: 2px solid var(--cor1);
  border-radius: 8px;
  overflow: hidden;
  
}

.faq-container summary {
  text-align: left; /* Garante que a pergunta esteja alinhada à esquerda */
  padding: 15px 20px; /* Ajuste o padding para não deixar o texto colado */
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  color: var(--cor1);
  border-radius: 5px;
  transition: background-color 1s ease, transform 1s ease; /* Animações de fundo e movimento */
}

.faq-container summary:hover {
  background-color: #e6e6e6;
  transform: translateX(4px); /* Deslocamento suave */
}

.faq-container details[open] summary {
  background-color: white;
  border: none;
}

.faq-container details > p {
  margin: 0;
  text-align: left;
  padding: 15px 20px; /* Aumenta o espaço dentro da resposta */
  font-size: 16px;
  max-height: 0; /* Inicialmente fechado */
  opacity: 0; /* Inicialmente invisível */
  overflow: hidden;
  transition: max-height 0.7s ease-out, opacity 0.7s ease-out; /* Transições suaves */
 border:none;
 background-color: #ff69b480;
  color: #141414;
}

.faq-container details[open] > p {
  max-height: 500px; /* Valor suficiente para o conteúdo */
  opacity: 1; /* Torna o conteúdo visível */
  transition-delay: 1s; /* Sem atraso ao abrir */
}


.sparkle-header::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, transparent 20%);
  background-size: 10px 10px;
  animation: sparkle-animation 4s linear infinite;
}
h1,
h2,
h3,
header {
  font-size: 1.2rem; /* Ajusta para dispositivos móveis */
}

@media (min-width: 768px) {
  .box {
    padding: 20px; /* Ajusta para telas maiores */
  }
}

@media (min-width: 768px) {
  h1,
  h2,
  header {
    font-size: 2rem; /* Tamanho maior em tablets e desktops */
  }
}

@media (min-width: 768px) {
  .sparkle-button {
    font-size: 1.5rem; /* Volta ao tamanho normal para telas maiores */
    padding: 10px 40px;
  }
}

@media (max-width: 768px) {
  h1,
  header {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  button {
    font-size: 1rem;
    padding: 8px;
  }
  .carousel-track img {
    width: 90%;
    margin: 0 auto;
  }

  .box {
    padding: 10px;
  }

  .carousel img {
    width: 90%;
    margin-bottom: 15px
  }

  .sparkle-effects {
    display: none; /* Esconde efeitos em telas menores */
  }

  .text-container p {
    font-size: 1rem;
  }

  @media (max-width: 480px) {
    h1,
    header {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1rem;
    }

    .carousel img {
      max-width: 110px; /* Reduz tamanho em telas menores */
    }
    .carousel {
      margin-bottom: 10px;
    }
    .carousel-track img {
      width: 100%;
    }

    .text-container p {
      font-size: 0.9rem;
    }

    button {
      font-size: 0.9rem;
    }
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes carouselMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move o carrossel em metade do seu tamanho */
  }
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  header > h1 {
    font-size: 1.8rem; /* Tamanho menor da fonte */
  }

  header > h3 {
    font-size: 1rem; /* Tamanho menor da fonte */
  }
}

/* Responsividade para telas menores que 480px */
@media (max-width: 480px) {
  header {
    padding: 8px;
  }

  header > h1 {
    font-size: 1.5rem; /* Tamanho ainda menor da fonte */
  }

  header > h3 {
    font-size: 0.9rem; /* Tamanho ainda menor da fonte */
  }
}

@keyframes sparkle-animation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 10px); /* Movendo um pouco para baixo e para a direita */
  }
  50% {
    transform: translate(20px, 20px); /* Movendo um pouco mais para baixo e para a direita */
  }
  75% {
    transform: translate(30px, 30px); /* Aumentando ainda mais a queda */
  }
  100% {
    transform: translate(50px, 50px); /* Finalizando a queda diagonal */
  }
}
